.chatsContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
    
    .searchInput{
        padding: 15px;
        border-radius: 20px;
        width: 80%;
        border: none;
    }

    .chats{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        overflow: hidden;

        .dialogsNotFound{
            text-align: center;
        }
    }
}